@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');

/* 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Merriweather', serif;
*/

body {
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

#title {
    font-family: 'Merriweather', serif;
}

#inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

#result {
    padding-top: 10px;
}

.text {
    font-family: 'Open Sans', sans-serif;
}
.number-input {
    margin: 10px;
}